* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    width: 350px;
    background: linear-gradient(180deg, #f9dcdc, #f5c3c3);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Top icons */
.top-icons {
    display: flex;
    justify-content: space-between;
}

.icon-btn {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
}

/* Album Cover */
.cover {
    margin: 30px 0;
}
.cover img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}
.rotate {
    animation: rotate360 5s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Song text */
h2 {
    font-size: 22px;
    margin-top: 10px;
}

.artist {
    font-size: 14px;
    opacity: 0.7;
}

/* Progress Bar */
.progress-area {
    width: 100%;
    height: 8px;
    background: #f7a3c3;
    border-radius: 5px;
    margin: 25px 0;
    position: relative;
}

.progress-bar {
    width: 40%;
    height: 100%;
    background: #ff4faa;
    border-radius: 5px;
}

.progress-ball {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 40%;
    transform: translateX(-50%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ctrl-btn,
.play-btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.stop-btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.stop-btn{
    display: none;
}
.play-btn,.stop-btn{
    width: 80px;
    height: 80px;
    background: #ff4faa;
    color: #fff;
    font-size: 30px;
}
