@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f3f9f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
  color: #4d3b07;
  margin-bottom: 20px;
}

.focus {
  color: #3fa34d;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  height: 530px;
  padding: 25px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h2 {
  font-size: 1.4rem;
  color: #222;
}

.subtext {
  font-size: 0.9rem;
  padding-top: 2rem;
  color: #777;
  margin-bottom: 15px;
}

.progress-bar {
  width: 100%;
  border-radius: 1rem;
  height: 20px;
  background: #49a30036;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  height: 10px;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20rem;
  height: 100%;
  background: #48A300;
  display: none;
}

.status {
    color: red;
    font-family: sans-serif;
    font-size: 14px;
}

.task {
  display: flex;
  padding-top: 1.5rem;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 18rem;
}
.task-container{
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
      border: 1px solid #eee;
    border-radius: 17px;
    width: 100%;
    height: 23%;
    background-color: white;
}
.motivation {
  margin-top: 15px;
  font-size: 0.9rem;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.input-container{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 20px;
}
.input-container input {
    width: 90%;
    border: none;
}
.check{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(92, 70, 28, 0.3);
    cursor: pointer;
}
input::placeholder{
    color: #D9D9D9;
}
footer {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #888;
}